---
const errors = { user: "", number: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const user = data.get("user");
    const number = data.get("number");
    const message = data.get("message");

    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<h1>Register</h1>
<form method="POST">
  <label>
    user:
    <input type="text" name="user" />
  </label>
  <label>
    number:
    <input type="number" name="number" />
  </label>
  <label>
    message:
    <input type="text" name="message" />
  </label>
  <button>Submit</button>
</form>
