---
// import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="LE BILAN" id="bilan">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Ce Qui c'est Passé à <br />
    <span class="text-primary">JanvilBarb</span><br /> Restera
    <span class="text-primary"></span><br />
     à <br /><span class="text-primary">JanvilBarb</span>
  </Fragment>
  <div class="grid">
    <img
      src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097406/BarbekJanvil/img/Seb_ivxkgb.png"
      alt="Seb"
      class="h-52 rounded-full"
    />
  </div>
</ContentSection>
