---
// import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<div class="flex items-center justify-center">
  <img
    src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097406/BarbekJanvil/img/Seb_ivxkgb.png"
    alt="Seb"
    class="my-12 h-52 rounded-full"
  />
</div>
<ContentSection title="LE BILAN" id="bilan">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->

  <Fragment slot="lead">
    Ce Qui c'est Passé à <br />
    <span class="text-primary">JanvilBarb</span><br /> Restera
    <span class="text-primary"></span><br />
     à <br /><span class="text-primary">JanvilBarb</span>
    <img
      src="https://res.cloudinary.com/dgakih33l/image/upload/f_auto,q_auto:eco/v1695130272/BarbekJanvil/img/nqrwidmjcacklakishph.jpg"
      alt="Seb"
      class="my-12 rounded-3xl p-2"
    />
  </Fragment>
  <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-2 lg:grid-cols-3">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130273/BarbekJanvil/img/ner3zae3ywltsdrevjq1.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130269/BarbekJanvil/img/jjgn7fxon2nji2qnbznm.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097405/BarbekJanvil/img/IMG-20230918-WA0017_kitd0g.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097401/BarbekJanvil/img/IMG-20230917-WA0012_kgdlgz.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097400/BarbekJanvil/img/IMG-20230917-WA0011_rlit6s.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097400/BarbekJanvil/img/IMG-20230917-WA0009_j5hej7.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097399/BarbekJanvil/img/IMG-20230917-WA0005_mx5von.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097399/BarbekJanvil/img/IMG-20230916-WA0003_tfawxl.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097399/BarbekJanvil/img/IMG-20230916-WA0005_bqnf0y.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097399/BarbekJanvil/img/IMG-20230916-WA0004_mjkari.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130272/BarbekJanvil/img/flylw6bphn0vqa3yyeio.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130271/BarbekJanvil/img/j6hreavzcumi1nzejm0n.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130271/BarbekJanvil/img/rpqn8e0d9urnibue2mfq.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130271/BarbekJanvil/img/i2yqafzasuymg3ntlcpl.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130270/BarbekJanvil/img/ahaqqovjz2i1yrjasrip.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130270/BarbekJanvil/img/akrgmrzt5amfbfu6dlvv.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695130269/BarbekJanvil/img/xhvexyvg2z3eiq6vlwfp.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097405/BarbekJanvil/img/IMG-20230918-WA0016_oqpdpa.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097405/BarbekJanvil/img/IMG-20230918-WA0015_otuc43.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097404/BarbekJanvil/img/IMG-20230918-WA0013_rvd3zp.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097404/BarbekJanvil/img/IMG-20230918-WA0014_kaptvm.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097404/BarbekJanvil/img/IMG-20230918-WA0012_fje5xc.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097404/BarbekJanvil/img/IMG-20230918-WA0011_ugn5c0.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097403/BarbekJanvil/img/IMG-20230918-WA0010_lhdlik.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097403/BarbekJanvil/img/IMG-20230918-WA0009_v9yhtj.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097403/BarbekJanvil/img/IMG-20230918-WA0008_phqg1y.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097402/BarbekJanvil/img/IMG-20230918-WA0007_um2opz.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097402/BarbekJanvil/img/IMG-20230918-WA0006_ad1oiy.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097402/BarbekJanvil/img/IMG-20230918-WA0005_my9ljy.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097401/BarbekJanvil/img/IMG-20230918-WA0004_huurom.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097401/BarbekJanvil/img/IMG-20230918-WA0003_u0bd7r.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097401/BarbekJanvil/img/IMG-20230918-WA0000_qgy4di.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097401/BarbekJanvil/img/IMG-20230918-WA0002_kfn8c2.jpg"
        alt=""
      />
    </div><div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://res.cloudinary.com/dgakih33l/image/upload/v1695097399/BarbekJanvil/img/IMG-20230917-WA0002_fjsxd1.jpg"
        alt=""
      />
    </div>
    <!-- <div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div><div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div><div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div><div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div><div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div><div>
      <img class="h-auto max-w-full rounded-lg" src="" alt="" />
    </div> -->
  </div>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695130320/BarbekJanvil/video/ugoqmhfsrexdpaxa5j5f.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097355/BarbekJanvil/video/VID-20230918-WA0018_rmsrbx.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097353/BarbekJanvil/video/VID-20230918-WA0020_omfto5.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097347/BarbekJanvil/video/VID-20230917-WA0016_qwgpdg.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097347/BarbekJanvil/video/VID-20230918-WA0019_o6dclh.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097347/BarbekJanvil/video/VID-20230917-WA0013_dd9rcy.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <video class="w-5/6" autoplay controls>
    <source
      src="https://res.cloudinary.com/dgakih33l/video/upload/v1695097346/BarbekJanvil/video/VID-20230917-WA0014_dvpjxf.mp4"
      type="video/mp4"
    />
     Your browser does not support the video tag.
  </video>
  <!-- <video class="w-5/6" autoplay controls>
    <source src="" type="video/mp4" />
     Your browser does not support the video tag.
  </video> -->
</ContentSection>
