---
import ContentSection from "~/components/content-section.astro";
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const accompagn = data.get("accompagn");
    const message = data.get("message");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<ContentSection title="Inscription" id="compatibility">
  <Fragment slot="lead">
    Bientot disponible <span class="text-primary">et opérationelle</span><br />
     Rester à l'écoute
  </Fragment>
  <section class="rounded-2xl">
    <div class="mx-auto max-w-screen-md px-4 py-8 lg:py-16">
      <h2
        class="gradient-text mb-4 text-center font-extrabold tracking-tight text-7xl"
      >
        Juste histoire de...
      </h2>
      <p class="mb-8 text-center font-light text-gray-500 sm:text-xl lg:mb-16">
        ... Savoir combien nous serons ....
      </p>
      <form hx-post="/user" class="space-y-8">
        <div>
          <label for="name" class="gradient-text mb-2 block font-medium text-xl"
            >Ton nom</label
          >
          <input
            type="text"
            id="name"
            class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm"
            placeholder="si t'as pas compris c'est ton Blaze"
            required
          />
        </div>
        <div>
          <label
            for="accompagn"
            class="gradient-text mb-2 block font-medium text-gray-900 text-xl"
            >Combien tu seras</label
          >
          <input
            type="number"
            id="accompagn"
            min="0"
            max="10"
            placeholder="👀 👼 🐒 🍷 🍔"
            class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm"
          />
        </div>
        <div>
          <label
            for="subject"
            class="mb-2 block font-medium text-gray-900 text-xl"></label>
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="gradient-text mb-2 block font-medium text-gray-900 text-xl"
            >Ton message</label
          >
          <textarea
            id="message"
            rows="6"
            class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm"
            placeholder="Tu peux mettre ce que tu veux. Des trucs intelligents...🤔 Ou pas 😜"
          ></textarea>
        </div>
        <!-- <button class="gradient-text font-extrabold text-xl"
          >Envoie moi ça</button
        > -->
      </form>
    </div>
  </section>
</ContentSection>
