---
// import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Market Place" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Goodies
    <span class="text-primary">Et</span> souvenirs
    <span class="text-primary"></span><br />
     Pour que <span class="text-primary">cette</span> soirée reste
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <img
      src="https://res.cloudinary.com/dgakih33l/image/upload/v1692949725/BarbekJanvil/Ty/wonder_1692947117247_iiwzzr.jpg"
      alt="thee"
    />
    <div
      class="flex items-center justify-center border-2 border-current px-6 py-4"
    >
      <p class="text-6xl" style="white-space: normal;">
        ATTENTION<span class="text-primary"> Attention</span>
         Très <strong>grosse</strong>
        <span class="text-primary">FakeNews</span>
      </p>
    </div>
  </div>
</ContentSection>
